<h1>Diário de Estudos</h1>
<nav>
    <ul>
        <li><%= link_to("Index", root_path,class:'button')%></li>
        <li class='dropdown'>
            <a href=# class='button'>Add</a>
            <div class='dropdown-content'>
                <%= link_to('Item',new_study_item_path) %>
                <%= link_to('Category',new_category_path) %>
            </div>
        </li>        
    </ul>
</nav>
