<h1>Diário de Estudos</h1>
<nav>
<%= link_to("Index", root_path,class:'nav_button')%>
<%= link_to('Add Item',new_study_item_path, class:'nav_button') %>
<%= link_to('Add Category',"", class: 'nav_button')%>
</nav>
