<%= form_with model:@category do |f|%>
    <div>
        <%= f.label :title,'Titulo' %>
        <%= f.text_field :title, required:'required' %>
    </div><br>

    <%= f.submit 'Salvar',class: 'button'%><br>
<% end %>